.footer{
    display: flex;
    background-color: rgb(245, 244, 244);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer-menu{
    display: none;
}
.footer-menu a{
    padding: 10px;
}
.footer-social{
    display: flex;
}
.footer-social a{
    padding: 3px;
}
.main-social{
    display: none;
}
.main-social-2{
    display: none;
}
@media screen and (min-width: 768px){
    .footer-menu{
        display: flex;
    }
    .main-social{
        display: flex;
        flex-direction: column;
        padding-top: 160px;
    }
}